[Unit]
Description=Timer: Paperless-Backup every monday at 10:00

[Timer]
OnCalendar=Mon *-*-* 10:00:00
Persistent=true

[Install]
WantedBy=timers.target
