# taken from https://unix.stackexchange.com/questions/724894/how-do-i-set-up-kde-kwallet-and-ssh-so-im-not-asked-to-enter-my-ssh-passphrasehttps://unix.stackexchange.com/questions/724894/how-do-i-set-up-kde-kwallet-and-ssh-so-im-not-asked-to-enter-my-ssh-passphrase
# - add SSH_AUTH_SOCK envinroment variable (in .config/environment.d/)
# - add AddKeysToAgent yes in .ssh/config
[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
