[Unit]
Description=Add a "High Council" Task
After=network.target

[Service]
Type=oneshot
ExecStart=task add +meeting proj:"IT Backend - Concept" "High Council Weekly"
WorkingDirectory=%h
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
