[Unit]
Description=Add a "Daily" Task
After=network.target

[Service]
Type=oneshot
ExecStart=task add +meeting proj:"IT Backend - Concept" "Virtual Coffee Break"
WorkingDirectory=%h
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
