[Unit]
Description=Adds a "High Council" Task
After=network.target

[Service]
Type=oneshot
ExecStart=%h/private/nxtcld/task_config/recurring/create_high_council_task.sh
WorkingDirectory=%h
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
